label {
  display: block;
  margin: 10px 0;
  font-size: 18px;
}
input {
  display: block;
  margin: 20px auto;
  width: 70%;
  padding: 10px 10px;
  font-size: 18px;
  color: #fff;
  background-color: #297fb994;
  border: none;
}
input::placeholder {
  color: #fff;
}
.rule {
  text-align: center;
  color: #f39c12;
}
